<center><h1>Técnicas de Inteligencia Artificial</header1></center>

Presentado por: Wilmer José Solano Llano  <br>
Fecha: 18/07/2022

# Importación de librerias necesarias

In [4]:
#Para esta actividad se importarán las siguientes librerías:
import pandas as pd #Libreria para importar archivos
import numpy as np #Libreria para menejar los datos

## Cargar el Dataset

In [5]:
#Código para cargar el Dataset
#Declarando variable para el dataset de Predicción de precios inmobiliarios 
datasetInmobilaria=pd.read_csv("Real estate.csv",sep=",") 
#Mostrar el dataset importado
datasetInmobilaria.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

## Descripción de la fuente del Dataset

Haga una descripción de la fuente de dayos utilizada (Incluya los enlaces necesarios).
El dataset con el que se va a trabajar contiene la información de 415 inmuebles. Contiene 7 características, la cual cuenta con 6 variables independiente y 1 variable dependiente.


**Variable dependiete**


Y house price of unit area: Precio de la casa del área unitaria.

**Variables independientes**

transaction date: fecha de compra

house age: La antigüedad de la casa

distance to the nearest MRT station: Distacia a la estación mas cercana

number of convenience stores: Número de tiendas de conveniencia

latitude: Latitud de la ubicación de la casa

longitude: Longitud de la ubicación de la casa

In [3]:
#desplegar la descripción del dataset
datasetInmobilaria.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

## Explique el problema a resolver.
Se desea crear un modelo el cual tendrá como objetivo predecir el precio de una inmobiliaria segun sus caracteristicas. La cual la caracteristica de los datos ya se observo anteriormente. Cuanta como variable objetivo el precio que se identifica como "Y house price of unit area". Mientras que las variables de entrada son: transaction date,
house age
distance to the nearest MRT station,
number of convenience stores,
latitude,
longitude.

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

In [3]:
#Código que responde a la descripción anterior

En un par de párrafos haga un resumen de los principales hallazagos encontrados:

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [4]:
#Transformación de las caracteristicas (mire el apartado Feature engineering del aula virtual)

## División del dataset en datos de entrenamiento y datos de test

In [5]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

## Regresión Lineal

In [6]:
#Códo del modelo

In [7]:
#Entrenamiento

In [8]:
#Test

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.